* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;/*weight 400 500 700*/
}
:root {
  /* main linear colors */
  --Light-Magenta: hsl(293, 100%, 63%);
  --Light-Violet: hsl(264, 100%, 61%);
  /* secondary colors */
  --White: hsl(0, 0%, 100%);
  --Light-Grayish-Violet: hsl(270, 20%, 96%);/* (app background)*/
  --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);/* (submit button background)*/
  --Very-Light-Magenta: hsl(289, 100%, 72%);/*(radio button outline)*/
}
body {
  background-color: #ddd;/*will change*/
}
.mega-menu {
  display: flex;
  position: relative;
}
@media (max-width: 767px) {
  .mega-menu {
    flex-direction: column;
  }
}
.phone-icon {
  background-color: var(--White);
  position: relative;
  padding: 10px;
  margin: 50px auto;
  width: 335px;
  border-radius: 15px;
  height: 700px;/*will change*/
}
.upper-nav {
  background-image: linear-gradient(25deg,
  var(--Light-Violet),
  var(--Light-Magenta));
  width: 100%;
  color: var(--White);
  height: 20%;
  top: 0;
  margin: 0 auto;
  position: relative;
  padding: 15px 0;
  border-radius: 15px 15px 5px 5px;
}
.upper-nav .angle-left img {
  transform: scaleX(-100%);
  width: 10px;
  position: absolute;
}
.upper-nav .profile {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: 10%;
}
.upper-nav .profile img {
  width: 40px;
  border-radius: 50%;
  border: 3px solid var(--White);
}
.upper-nav .text {
  left: 25%;
  position: relative;
}
.upper-nav .phone-character {
  font-size: 18px;
}
.upper-nav .slogan {
  font-size: 16px;
  color: #222;
}

.dog-pictures {

}
.dog-pictures div {
  display: inline-block;
  padding: 15px 5px;
} 
.dog-pictures div img {
  width: 50px;
  border-radius: 10px;
}
.texting-container {
  height: 80%;
  padding: 10px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f5f3f8;
  border-radius: 15px;
}
.texting-container .l-comt {
  padding: 5px;
  margin: 5px;
  background-color: black;
  color: var(--Light-Violet);
  text-align: left;
  width: 60%;
  border-radius: 15px;
}
.texting-container .r-comt {
  background-color: var(--White);
  border-radius: 15px;
}
.texting-container .timer {
  background-image: linear-gradient(25deg,
  var(--Light-Magenta),
  var(--Light-Violet));
  color: var(--White);
  padding: 5px;
  width: 75%;
  margin-left: 10px;
  left: 0;
  font-size: 16px;
}
.texting-container .timer span {
  font-weight: bold;
  font-size: 18px;
}
.sending-box {
  padding: 15px;
  background-color: var(--White);
  width: 100%;
  border-radius: 30px;
  text-align: left;
  position: relative;
  color: #DDD;/*will change*/

}
.sending-box p {}
.sending-box div {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  background-color: var(--Very-Dark-Desaturated-Violet);
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
.angle-right img {
  width: 15px;
  /* should change icon into white color */
}
.mini-container {
  padding: 10px;
  width: 400px;
  background: none;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  right: 0;
}
.mini-container .header{
  font-size: 52px;
  color: var(--Very-Dark-Desaturated-Violet);
}
.mini-container .parag-context {
  color: var(#DDD);
}






.attribution { 
  font-size: 11px;
  text-align: center;
  display: none;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}