:root {
  /* Colors */
  /* Primary */
  --Moderate-blue: hsl(238, 40%, 52%);
  --Soft-Red: hsl(358, 79%, 66%);
  --Light-grayish-blue: hsl(239, 57%, 85%);
  --Pale-red: hsl(357, 100%, 86%);
  /* Neutral*/
  --Dark-blue: hsl(212, 24%, 26%);
  --Grayish-Blue: hsl(211, 10%, 45%);
  --Light-gray: hsl(223, 19%, 93%);
  --Very-light-gray: hsl(228, 33%, 97%);
  --White: hsl(0, 0%, 100%);
}
@font-face {
  font-family: "Rubik";
  font-weight: 400 500 700;
  src: url("../Rubik-font/dist/Rubik-Italic-VariableFont_wght.woff2") format('woff2'),
    url("../Rubik-font/dist/Rubik-Italic-VariableFont_wght.woff") format('woff');
}
@font-face {
  font-family: "Rubik";
  font-weight: 400 500 700;
  src: url("../Rubik-font/dist/Rubik-VariableFont_wght.woff2") format('woff2'),
    url("../Rubik-font/dist/Rubik-VariableFont_wght.woff") format('woff');
  /*
  src:
      local("Trickster"),
      url("trickster-COLRv1.otf") format("opentype") tech(color-COLRv1),
      url("trickster-outline.otf") format("opentype");
  */
}
*,
::before,
::after {
  box-sizing: border-box;
}
body {
  /* font-size: 16px */
  font-family: 'Rubik', sans-serif;
  background-color: var(--Very-light-gray);
}
/* 730 full width */
/* 15% ~ partial width */

/* 345 full-phone width, */
@media (max-width: 768px) {
  .container:first-of-type {
    margin-top: 30px;
  }
  .container {
    width: 345px;
    margin: 0 15px 15px 15px;
  }
}
@media (min-width: 769px) {
  .container:first-of-type {
    margin-top: 60px;
  }
  .container {
    width: 730px;
    margin: 15px 15px 0 15px;
    /* top: 50%; */
    left: 50%;
    transform: translateX( -50%);
  }
}
.container {
  background-color: var(--White);
  border-radius: 10px;
  position: relative;
  padding: 15px;
}
.container .reply {
  color: var(--Moderate-blue);
  font-weight: bold;
  position: absolute;
  right: 15px;
  top: 20px;
  padding: 15px;
}
.container .reply::before {
  content: url('../images/icon-reply.svg');
  left: -5px;
  top: 1px;
  position: relative;
}
.container .reply:hover::before,
.container .reply:hover {
  opacity: 0.8;
  cursor: pointer;
}
.user {
  display: flex;
  align-items: center;
  position: relative;
}
.container > .user {
  left: 75px;
}
.user > * {
  margin-right: 15px;
}
.user .profile {
  width: 30px;
}
.user .title {
  font-weight: bold;
  color: var(--Dark-blue);
}
.user .createdAt {
  color: var(--Grayish-Blue);
  font-weight: 500;
}

.score {
  background-color: var(--Very-light-gray);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}
.container > .score {

  left: 0;
  top: 40px;
  transform: translateY(-50%);
  margin: 20px 0 20px 20px;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .container .score {
    width: 100px;
    height: 40px;
  }
}
@media (min-width: 769px) {
  .container .score {
    height: 80px;
    width: 40px;
  }
}
.container .score > * {
  padding: 5px 10px;
}
.score .upVote {
  content: url('../images/icon-plus.svg');
}
.score .currentVote {
  color: var(--Moderate-blue);
  font-weight: bold;
}
.score .downVote {
  content: url('../images/icon-minus.svg');
}
.score .upVote:hover,
.score .downVote:hover {
  cursor: pointer;
}
.content {
  color: var(--Grayish-Blue);
  line-height: 1.7;
  margin-top: 0;
}
.container > .content {
  margin-left: 75px;
  width: 86%;
}
.replyContainer .content {
  width: 85%;
  right: -20px;
  position: relative;
}
.replyContainer {
  position: relative;
}