:root {
  /* Colors */
  /* Primary */
  --Moderate-blue: hsl(238, 40%, 52%);
  --Soft-Red: hsl(358, 79%, 66%);
  --Light-grayish-blue: hsl(239, 57%, 85%);
  --Pale-red: hsl(357, 100%, 86%);
  /* Neutral*/
  --Dark-blue: hsl(212, 24%, 26%);
  --Grayish-Blue: hsl(211, 10%, 45%);
  --Light-gray: hsl(223, 19%, 93%);
  --Very-light-gray: hsl(228, 33%, 97%);
  --White: hsl(0, 0%, 100%);
}
@font-face {
  font-family: "Rubik";
  font-weight: 400 500 700;
  src: url("../Rubik-font/dist/Rubik-Italic-VariableFont_wght.woff2") format('woff2'),
    url("../Rubik-font/dist/Rubik-Italic-VariableFont_wght.woff") format('woff');
}
@font-face {
  font-family: "Rubik";
  font-weight: 400 500 700;
  src: url("../Rubik-font/dist/Rubik-VariableFont_wght.woff2") format('woff2'),
    url("../Rubik-font/dist/Rubik-VariableFont_wght.woff") format('woff');
  /*
  src:
      local("Trickster"),
      url("trickster-COLRv1.otf") format("opentype") tech(color-COLRv1),
      url("trickster-outline.otf") format("opentype");
  */
}
*,
::before,
::after {
  box-sizing: border-box;
}
body {
  /* font-size: 16px */
  font-family: 'Rubik', sans-serif;
}