#gameboard {
  width: 800px;
  height: 800px;
  background-color: #222;
  display: flex;
  flex-wrap: wrap;
  margin: 8% auto;
}
.square {
  height: 100px;
  width: 100px;
}
.beige {
  background-color: rgb(110,110,98);
}
.brown {
  background-color: rgb(169, 43,43);
}