form{
  display: flex;
  width: calc(100% / 4);
  justify-content: center;
  flex-direction: column;
  margin: 20px auto;
  padding: 20px;
  align-items: stretch;
  flex-wrap: wrap;
  align-content: space-around;
}
form > * {
  padding: 20px;
  margin: 10px 20px;
  outline: none;
  font-size: 20px;
}
form > input:last-of-type {
  font-weight: bold;
  color: white;
  background-color: #2490ff;
  border:none;
}
.results {
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
}
.results > * {
  width: 100px;
  height: 36px;
  margin: 20px;
  padding: 10px;
  background: #19986d;
  color: white;
  font-size: 27px;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
}