/*
  Intro
  this is a dashboard ui design, brought from google images;
    to create more similar ones in the future
*/
* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
}
*:focus {
  outline: none;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
@font-face {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  src: url("../fonts-google/OpenSans-VariableFont_wdth\\,wght.ttf");
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url("../fonts-google/OpenSans-Italic-VariableFont_wdth\\,wght.ttf");
  font-display: swap;
  font-weight: 700;
}