* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu";
}
:root {
  /* Colors */
  /* Primary */
  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);
  /* Neutral */
  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
  /* font-size */
  --main-font:16px;
  /* try another approach of adding 'em in this project */
  --Family: [Ubuntu](https://fonts.google.com/specimen/Ubuntu);
  --Weights: 400, 500, 700;
}

/*
  in real life project these sizes are crazily big, so minify them using:
  WOFF Converter, or WOFF2, they're good in compatibility,
  and you can use both making v1 as a spare if 2nd -v falls
  src: url("blab"),
        url("blab2");
*/
@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  src: url("assets/fonts/Ubuntu-Regular.ttf");
}
@font-face {
  font-family: "Ubuntu";
  src: url("assets/fonts/Ubuntu-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Ubuntu";
  src: url("assets/fonts/Ubuntu-Bold.ttf");
  font-weight: 700;
}
/*
  @media widths:
- Mobile: 375px
- Desktop: 1440px
*/








footer.attribution {
  font-size: 11px;
  margin: 20px auto;
  padding: 0 0 20px;
  position: relative;
  text-align: center;
}
footer.attribution p {
  width: 100%;
}
footer.attribution a {
  color: hsl(228, 45%, 44%);
  font-weight: bold;
  text-decoration: none;
  font-size: 15px;
  vertical-align: -2px;
}