* {
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  box-sizing: border-box;
}
:root {
  /* COLORS*/
  /* Primary  */
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);

  /* Neutral */
  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --Black: rgba(0 0 0 / .75);/*(with 75% opacity for lightBox background)*/

  --main-font:16px;
}
/* body {} */
header {
  display: flex;
  height: 100px;
  border-bottom: 1px solid var(--Very-dark-blue);
  width: 80%;
  margin: auto;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}
header div{
  /* width: calc(100% /4); */
}
header nav {
  flex-grow: 3;
}
@media (max-width:767px) {
  header {
    border-bottom: none;
    height: 67px;
  }
  header nav {
    display: none;
  }
  header .logo {
    margin: 24px 15px 0;
  }
}
@media (min-width:768px) {
  header nav {
    display: block;
  }
}

header div {
  flex-grow: 1;
}
header nav ul {
  display: flex;
  margin-top: 40px;
  list-style: none;
  margin-left: 50px;
}
header nav ul li {
  margin: 0 15px;
}
header nav ul li a {
  text-decoration: none;
  color: var(--Dark-grayish-blue);
  font-size: var(--main-font);
  padding: 40px 0 37px;
}
header nav ul li a:hover {
  color: var(--Very-dark-blue);
  border-bottom: 4px solid var(--Orange);
}
@media (min-width:768px) {
  header .logo {
    margin: 40px 15px 0;
  }
}
header .cart {
  margin-top: 40px;
  align-self: flex-end;
  position: relative;
}
header .cart > span {
  color: #FFF;
  background-color: var(--Orange);
  padding: 0 5px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 5px;
  position: absolute;
  top: -5px;
  right: -5px;
  display: none;
}
header .cart img {
  color: var(--Dark-grayish-blue);
}
/* header .cart svg {
  content: url("images/icon-cart.svg");
  background-image: var(--Dark-grayish-blue);
} */
header .cart img:hover{
  color: var(--Very-dark-blue);
}
header .cart:hover > div {
  position: absolute;
  width: 360px;
  min-height: 255px;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  border-radius: 10px;
  box-shadow: 0 15px 25px 1px rgba(0, 0, 0, 0.7);
  z-index: 999;
  background-color: #FFF;
}
header .cart .hidden {
  display: none;
}
header .cart:hover .hidden {
  display: block;
}
header .cart div {
  position: relative;
}
header .cart div .cart-title{
  height: 70px;
  width: 100%;
  padding: 25px;
  font-weight: bold;
  border-bottom: 1px solid var(--Grayish-blue);
}
header .cart div .empty-cart {
  color: var(--Dark-grayish-blue);
  font-weight: bold;
  position: absolute;
  margin: 80px 0;
  padding-left: 110px;
}
header .cart div div:not(:first-child) {
  /* dis */
}
header .avatar {
  margin-left: 40px;
  margin-top: 27px;
  align-self: flex-end;
}
header .avatar img {
  width: 45px;
  border-radius: 50%;
  cursor: pointer;
}
header .avatar:hover img {
  border: 2px solid var(--Orange);
}

.main-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  margin: auto;
}

@media (max-width:767px) {
  .images-container {
    width: 100%;
    padding-top: 0;
  }
}
@media (min-width:768px) {
  .main-section {
    width: 80%;
  }
  .main-section aside.images-container {
    left: 10%;
    position: relative;
  }
  .images-container {
    padding-top: 88px;
  }
}
@media (max-width:767px) {
  .images-container .img-opt {
    display: none;
  }
}
@media (min-width:768px) {
  .images-container .img-opt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    width: 445px;
  }
}


.images-container .img-opt div {
  /* border: 5px solid transparent;
  display: inline-block;
  cursor: pointer;
  height: 100px;
  border-radius: 10px;
  position: relative; */
}
.images-container .img-opt img {
  user-select: none;
  cursor: default;
  width: 90px;
  height: 90px;
  border-radius: 10px;
  border: 5px solid transparent;
}
.images-container .img-opt img.active {
  border: 2px solid var(--Orange);
  opacity: 0.6;
}
.images-container .img-opt img:hover {
  opacity: 0.6;
}

@media (max-width:767px) {
  .main-section .current-img img{
    width: 100%;
  }
}
@media (min-width:768px) {
  .main-section .current-img img{
    height: 445px;
    width: 445px;
    border-radius: 10px;
  }
}

@media (max-width:767px) {
  article.main-article {
    margin: 10px 0 25px 25px;
  }
}
@media (min-width:768px) {
  article.main-article {
    margin-top: 135px;
    margin-left: 200px;
  }
}
article.main-article {
  position: relative;
  flex-basis: 445px;
  /* will change */
}
article.main-article p:first-of-type {
  color: var(--Orange);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  margin: 15px 0;
}
article.main-article h1 {
  font-size: 36px;
  padding-bottom: 5px;
}
article.main-article p:last-of-type {
  color: var(--Dark-grayish-blue);
  padding: 40px 0;
}
article.main-article .current-price {
  position: relative;
  margin-bottom: 20px;
}
article.main-article .current-price span:first-of-type {
  font-size: 22px;
  font-weight: bold;
  margin-right: 15px;
}
article.main-article .current-price span:last-of-type  {
  color: var(--Orange);
  background-color: var(--Pale-orange);
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  letter-spacing: 1px;
  position: absolute;
}
article.main-article .prev-price {
  text-decoration: line-through;
  color: var(--Grayish-blue);
  font-weight: bold;
  margin-bottom: 40px;
}
article.main-article .product-count {
  display: flex;
  width: 100%;
}
@media (max-width:767px) {
  article.main-article .product-count {
    flex-direction: column;
  }
  article.main-article .product-count {
    width: 80%;
  }
  article.main-article .product-count > *{
    margin: 20px auto 0;
  }
}
@media (min-width:768px) {
  
}

article.main-article .product-count .cur-count{
  background-color: var(--Light-grayish-blue);
  width: 160px;
  margin-right: 20px;
  border-radius: 10px;
  text-align: center;
  line-height: 56px;
  position: relative;
  font-weight: bold;
  user-select: none;
  font-size: var(--main-font);

}
article.main-article .product-count .cur-count span:first-of-type {
  position: absolute;
  left: 20px;
  color: var(--Orange);
  font-weight: 700;
  cursor: pointer;
  font-size: 26px;
}
article.main-article .product-count .cur-count span:last-of-type {
  position: absolute;
  right: 20px;
  color: var(--Orange);
  font-weight: 700;
  cursor: pointer;
  font-size: 26px;
}
article.main-article .product-count .cur-count span:hover:first-of-type,
article.main-article .product-count .cur-count span:hover:last-of-type {
  opacity: 0.7;
}

article.main-article .product-count button {
  width: 270px;
  padding: 17px 0;
  background-color: var(--Orange);
  border: none;
  border-radius: 5px;
  color: #FFF;
  font-size: var(--main-font);
  font-weight: bold;
}
article.main-article .product-count button:hover {
  opacity: 0.6;
}
.light-box {
  z-index: 999;
  height: 100%;
  width: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
}
.light-box img::before,
.light-box img::after {
  content: '';
  /* width: 15px;
  height: 15px; */
}
.light-box img {
  height: 550px;
  width: 550px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

/*
  main media
  Mobile: 375px
  Desktop: 1440px
*/
footer{
  display: none;
}
footer.attribution { font-size: 11px; text-align: center; }
footer.attribution a { color: hsl(228, 45%, 44%); }
