body {
  font-family: 'Open Sans', sans-serif;
}
/* Start Landing Page */
.landing-page {
  min-height: 100vh;
  background-image: url("../imgs/01.jpg");
  background-size: cover;
}
.landing-page .overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.landing-page .header-area{}
.landing-page .logo{}
.landing-page ul {}
.landing-page ul li{}
/* End Landing Page */